<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

        body {
            font-family: 'ubuntulight', sans-serif !important;
            padding: 0;
            margin: 0;
            font-weight: lighter !important;
        }


        table, th, td {
            border-collapse: collapse !important;
        }

        .expiry-notification {
            margin-top: 0.2rem;
        }

        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            .profile-image {
                width: 5rem !important;
                height: 5rem !important;
                border-radius: 50%;
            }

            .profile-image img {
                width: 5rem !important;
                height: 5rem !important;
                border-radius: 50%;
            }

            .profile-content {
                margin-top: 0;
            }

            .expiry-c-notify-icon {
                margin-right: 0.2rem !important;
            }

            .expiry-notification {
                margin-top: 0.2rem;
            }
            .accept-btn{
                font-weight: lighter!important;
            }

        }

        .gradient-bg {
            background-image: linear-gradient(#D13264, #DF032A)!important;
        }

        .copy-code {
            text-decoration: none;
            padding: 0.8rem 1.2rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: #141C27;
            color: white;
            border-radius: 19px;
            width: 130px;
            margin: auto;

        }
    </style>
</head>
<body>
<div style="box-shadow: 0 0 2px 0 #e2e2e2;">
    <table style="width:100%">
        <tr style="background-color: #141C27; color: white;font-weight: lighter;">
            <td style="width: 30%;font-size: 1.5rem;">
                <div style="padding-left: 1rem;padding-top: 1rem;padding-bottom: 1rem">meoh</div>
            </td>
            <td style="width: 70%;font-size: 1.15rem; text-align: right; padding-right: 1rem">
                <div style="padding-top: 1rem;padding-bottom: 1rem">achieve together</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td style="align-items: center;padding: 1rem 0; margin-top: 1.5rem;margin-bottom: 1rem;">
                            <div class="profile-image" style="
                                                width: 4rem;
                                                height: 4rem;
                                                overflow: hidden;
                                                border-radius: 50%;
                                                /*border: 1px solid #e2e2e2;*/
                                                margin-left: 1rem;
                                                background-size: cover;
                                                background-repeat: no-repeat;
                                                background-image: url('<%= user.profileImage ? user.profileImage.url : user.image ? user.image : `http://136.243.177.207:3200/assets/defaullt_profile.png`  %>')"
                            >
                                <!--                                <img src="<%= user.image ? user.image : 'http://136.243.177.207:3200/assets/defaullt_profile.png'  %>"-->
                                <!--                                     alt="" style=" width: 4rem;height: 4rem;margin: auto;"/>-->

                            </div>

                        </td>
                        <td style="align-items: center; width: 100%; padding: 1rem 0;  margin-top: 1.5rem;margin-bottom: 1rem;">
                            <div class="profile-content" style="color: #000;margin-left: 1rem;margin-right: 1rem;">
                                <div class="profile-name" style="font-size: 1.12rem!important;font-weight: lighter;">
                                    <%= user.name %>
                                </div>
                                <div class="profile-designation"
                                     style="font-size: 0.8rem!important;font-weight: lighter;">
                                    <%= user.position %> at <%= user.company %>
                                </div>
                                <div class="profile-location" style="font-size: 0.8rem!important;font-weight: lighter;">
                                    <%= user.city %>
                                </div>

                            </div>

                        </td>
                    </tr>
                    <% if (message) { %>
                    <tr>
                        <td colspan="2" style="padding: 1rem 0;">
                            <div class="about-profile" style=" padding: 0.5rem 1.15rem;
                                        color: #000;
                                        font-weight: lighter;
                                        /*background-color: #FBFBFB;*/
                                        min-height: 85px;">
                                <div class="about-content" style="font-size: .89rem;">
                                    Hi
                                    <span><%= friend ? (friend.name + '!') : '' %></span>
                                    <%= message %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </table>
            </td>
        </tr>
        <% if (referralCode) { %>
        <tr>
            <td colspan="2">
                <table style="width: 100%; margin-top: 2rem;">
                    <tr>
                        <td style="text-align: center;padding-left: 1rem;padding-right: 1rem">
                            <div style="font-size: 1rem; color: #000;font-weight: lighter; margin: 0.5rem">Your invite code is:
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;padding-left: 1rem;padding-right: 1rem">
                            <div style="text-align: center; padding:1rem">
                                <div class="copy-code">
                                    <span style="text-transform: uppercase;font-size: 1.5rem; min-width: 80px;margin: auto!important;"><%= referralCode %></span>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;padding-left: 1rem;padding-right: 1rem">
                            <div style="font-size: 1rem; color: #000;margin: 0.5rem; font-weight: lighter;">You can
                                manually copy this invite code and paste it in the app.
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--        <tr>-->
        <!--            <td colspan="2">-->
        <!--                <table style="width: 100%; margin-top: 3rem;">-->
        <!--                    <tr style="background-color:  #FBFBFB;height: 60px;box-shadow: 0 0 1px 0 #e2e2e2;">-->
        <!--                        <td style="text-align: center;padding-left: 1rem;padding-right: 1rem">-->
        <!--                            <div class="code" style="font-size: 1rem; color: #000;font-weight: lighter;">Your referral-->
        <!--                                code is:-->
        <!--                                &nbsp;<span-->
        <!--                                        style="text-transform: uppercase;"><%= referralCode %></span>-->
        <!--                            </div>-->
        <!--                        </td>-->
        <!--                    </tr>-->
        <!--                </table>-->
        <!--            </td>-->
        <!--        </tr>-->
        <% } %>
        <tr>
            <td colspan="2" style="padding-left: 1rem;padding-right: 1rem">
                <div class="expiry-code-date" style="    color: #000;
                        text-align: center;
                        font-size: .89rem;
                        margin: auto;
                        padding-top: 1rem;
                        padding-bottom: 1rem;">
                    <div style="display: inline-flex;margin-left: 1rem;margin-right: 1rem;font-weight: lighter;">
                        <span style="width: 1.5rem; height: auto;margin-right: 0.4rem;">
                            <img src="http://136.243.177.207:3200/assets/group.png"
                                 alt="" style="width: 1.5rem; height: 1.5rem;margin-right: 1rem"
                                 class="expiry-c-notify-icon">
                        </span>
                        <span class="expiry-notification">This code is valid for two weeks and will expire on <%= expireDate %></span>
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;padding-left: 1rem;padding-right: 1rem;">
                <div class="download-btns"
                     style="margin-top: 2rem;margin-bottom: 2rem;">
                    <a href="https://apps.apple.com/us/app/id1466786850">
                        <img src= "http://136.243.177.207:3200/assets/apple-store.png" width="200px" alt="">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.luezoid.meoh">
                        <img src= "http://136.243.177.207:3200/assets/android-playstore.png" width="200px" alt="">
                    </a>
                </div>
                <!-- <div class="accept-btn"
                     style="margin-top: 2rem;margin-bottom: 2rem;display: inline-block;">
                    <a href="https://play.google.com/store/apps/details?id=com.luezoid.meoh">
                        <button type="button" style="
                            font-size: 1.15rem;
                            padding: 0.56rem 2.5rem;
                            border-radius: 0.5rem;
                            border: none;
                            background-color: #D13264;
                            font-weight: normal;
                            color: white!important;
                            cursor: pointer;" class="gradient-bg">Accept 2
                        </button>
                    </a>
                </div> -->
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left: 1rem;padding-right: 1rem">
                <div class="expiry-code-date" style="color: #000;
                    text-align: center;
                    font-size: .89rem;
                    margin: auto;
                    font-weight: lighter;
                    padding-bottom: 1rem;
            ">download the mobile app for Android and iOS.
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;padding-left: 1rem;padding-right: 1rem;">
                <div style="margin-top: 2rem;margin-bottom: 0.45rem;color: #000; display: inline-flex">
                    <img src="http://136.243.177.207:3200/assets/feather_check_square.png"
                         alt=""
                         style="width: 1rem; height: 1rem; margin-right: 10px;font-size: 1.4rem;">
                    <span style="font-size: .89rem;font-weight: lighter;">Privacy by design</span>
                </div>

            </td>
        </tr>
        <tr>
            <td colspan="2" style="background-color: #F3F3F3;
                                    min-height: 200px;
                                    margin-top: 2rem;
                                    padding-top: 1.5rem;
                                    padding-bottom: 2rem;
                                    padding-left: 1rem;
                                    padding-right: 1rem;
                                    color: #000;">
                <table style="width: 100%">
                    <tr style="text-align: center">
                        <td>
                            <div class="w-t-f" style="font-size: 0.89rem;font-weight: lighter;color: #000;">
                                This email was intended for
                                <%= friend ? friend.name : '' %>
                                <br/>
                                <a class="w-t-m" href="https://www.meoh.io/what-we-do"
                                   style="font-size: .89rem;font-weight: lighter;color: #000">What is meoh?</a>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <div style="padding-top: 2.5rem;">
                                <div style="display: inline-flex;">
                                    <img src="http://136.243.177.207:3200/assets/logo.png" width="70px" height="20px">
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr style="text-align: center">
                        <td>
                            <div class="f-text"
                                 style="font-size: .89rem;font-weight: lighter;color: #000;padding-left: 0.5rem;padding-right: 0.5rem;">
                                <div><span style="font-size: .75rem">&copy;</span> 2020 Meoh ASBL, 4 Rue du Pays de Liege, 1000 Brussels, Belgium.</div>
                                <div>meoh is a registered business name of meoh ASBL.</div>
                                <div>meoh and meoh logo are registered trademarks of Meoh ASBL.</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
