{
  "swagger": "2.0",
  "info": {
    "description": "This is documentatin for the Node API. For every request you must include in the header: \n Content-Type: application/json \n\n For protected routes by authorization we use JWT. Each of these have a lock by them. Must include a Bearer Token in the header \n Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ...",
    "version": "1.0.0",
    "title": "Meoh API mysql + JWT",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "robert.mueller@nurogames.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "meoh-integration.nurogate.com:3000",
  "basePath": "/v1",
  "tags": [
    {
      "name": "User",
      "description": "Authentication and More",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://nurogames.com"
      }
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/users": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create user",
        "description": "Creates user that can now be used for authentication",
        "operationId": "createUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Creates user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUser"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CreateUserResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Return user",
        "description": "This can only be done by the logged in user.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReturnUserResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Update user",
        "description": "This can only be done by the logged in user.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Creates user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserBody"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful request",
            "schema": {
              "$ref": "#/definitions/ApiSuccessResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "Soft delete user",
        "description": "This can only be done by the logged in user.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/ApiSuccessResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/users/profile/{user_id}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Return user",
        "description": "Returns the user for the given id.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "id of the user to get",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReturnUserResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/users/image/{user_id}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Return user image",
        "description": "Returns the profile image for the given user id.",
        "produces": [
          "image/png",
          "image/gif",
          "image/jpeg"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "id of the user to get",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/status": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Return current status",
        "description": "returns the new posts and invitations.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReturnUserStatusResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/users/login": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "User Login",
        "description": "Returns Bearer Token for JWT authentication",
        "operationId": "createUsers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "user object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUser"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/LoginUserResponse"
            }
          },
          "422": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/posts": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Creates a post",
        "description": "Creates a post in our database",
        "operationId": "createPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Creates a post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CreatePostResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "get all posts of the currently logged user",
        "description": "get all posts of the currently logged user",
        "operationId": "getallposts",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListPostResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/forwards": {
      "post": {
        "tags": [
          "Forwards"
        ],
        "summary": "Creates a forward",
        "description": "Creates a forward in our database",
        "operationId": "createForward",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Creates a forward",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateForward"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CreateForwardResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/friends": {
      "get": {
        "tags": [
          "Friends"
        ],
        "summary": "get all friends of the currently logged user",
        "description": "get all friends of the currently logged user",
        "operationId": "getallfriends",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListFriendsResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/friends/getfavoritefriends/{friend_id}": {
      "get": {
        "tags": [
          "Friends"
        ],
        "summary": "Returns favorite friends of given id",
        "description": "Returns only the favorite friends of the friend identified by the given id",
        "operationId": "favoritefriends",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "friend_id",
            "description": "finds favorite friends",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListFriendsResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/friends/{friend_id}": {
      "delete": {
        "tags": [
          "Friends"
        ],
        "summary": "Deletes a friend",
        "description": "Deletes a friend from our database",
        "operationId": "deleteFriend",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "friend_id",
            "description": "Deletes a friend",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "deleted friend"
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Friends"
        ],
        "summary": "Mark as top",
        "description": "mark Friend as top friend.",
        "parameters": [
          {
            "in": "path",
            "name": "friend_id",
            "description": "marks/unmarks friend",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "marks/unmarks friend",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFriend"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful request",
            "schema": {
              "$ref": "#/definitions/ApiSuccessResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/invitations": {
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Invite a friend",
        "description": "Creates a friend request",
        "operationId": "createFriendRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Creates a friend request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFriendInvitation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InviteFriendResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "404": {
            "description": "user not found",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "409": {
            "description": "invitation already sent",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Invitations"
        ],
        "summary": "get all invitations of the currently logged user",
        "description": "get all invitations of the currently logged user",
        "operationId": "getallinvitations",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListInvitationsResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/invitations/accept/{invitation_id}": {
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Accepts an invitation",
        "description": "adds a friend in our database",
        "operationId": "acceptInvitation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invitation_id",
            "description": "accepts a friend request",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiSuccessResponse"
            }
          },
          "204": {
            "description": "successful operation"
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "404": {
            "description": "friend not found",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/invitations/reject/{invitation_id}": {
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Rejects an invitation",
        "description": "removes an invitation from our database",
        "operationId": "rejectInvitation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invitation_id",
            "description": "rejects a friend request",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "invitation rejected"
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/invitations/bymail": {
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Invite a friend by external mail",
        "description": "Creates a friend request by external mail",
        "operationId": "createFriendRequestbyMail",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Creates a friend request by external mail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFriendInvitation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InviteFriendResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/invitations/byuserid": {
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Invite a friend by 3rd party permission",
        "description": "Creates a friend request by 3rd party permission",
        "operationId": "createFriendRequestbyUserId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Creates a friend request by external mail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFriendInvitationById"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/InviteFriendResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          },
          "404": {
            "description": "user not found",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "409": {
            "description": "invitation already sent",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          },
          "422": {
            "description": "Invalid operation",
            "schema": {
              "$ref": "#/definitions/ApiErrorResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/messages": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send a message",
        "description": "sends a message to a user",
        "operationId": "sendMessageToUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Creates a friend request by external mail",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiSuccessResponse"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Gets all messages",
        "description": "retrieves messages for the current user",
        "operationId": "getMessages",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListMessages"
            }
          },
          "401": {
            "description": "unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiUnauthorizezdResponse"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "bearer_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://meoh-integration.nurogate.com:3000/v1/user/login",
      "flow": "implicit"
    },
    "api_key": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "CreateUser": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "Max Mustermann"
        },
        "email": {
          "type": "string",
          "example": "max.mustermann@email.com"
        },
        "password": {
          "type": "string",
          "example": "secure-password"
        }
      }
    },
    "CreateUserResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "message": {
          "type": "string",
          "example": "Successfully created new user."
        },
        "token": {
          "type": "string",
          "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ...",
          "description": "Authentication token"
        }
      }
    },
    "LoginUserResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "token": {
          "type": "string",
          "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ...",
          "description": "Authentication token"
        }
      }
    },
    "ReturnUserResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "user": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "example": "Max Mustermann"
            },
            "email": {
              "type": "string",
              "example": "max.mustermann@email.com"
            },
            "image": {
              "type": "string",
              "example": "/users/image/4"
            },
            "city": {
              "type": "string",
              "example": "Buxtehude"
            },
            "company": {
              "type": "string",
              "example": "Winzigweich"
            },
            "position": {
              "type": "string",
              "example": "Evangelist"
            },
            "about": {
              "type": "string",
              "example": "a really cool dude can be found here."
            },
            "education": {
              "type": "string",
              "example": "Hauptschule\nFachschule\nAusbildung"
            },
            "last_seen_post": {
              "type": "integer",
              "example": "2"
            },
            "password": {
              "type": "string",
              "example": "1234asdf"
            }
          }
        }
      }
    },
    "UserShort": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "user": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "example": "Max Mustermann"
            },
            "image": {
              "type": "string",
              "example": "/users/image/4"
            },
            "city": {
              "type": "string",
              "example": "Buxtehude"
            },
            "company": {
              "type": "string",
              "example": "Winzigweich"
            },
            "position": {
              "type": "string",
              "example": "Evangelist"
            },
            "about": {
              "type": "string",
              "example": "a really cool dude can be found here."
            },
            "education": {
              "type": "string",
              "example": "Hauptschule\nFachschule\nAusbildung"
            }
          }
        }
      }
    },
    "ReturnUserStatusResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "invitations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "friend_id": {
                "type": "integer",
                "example": "2"
              },
              "id": {
                "type": "integer",
                "example": "1"
              },
              "public_text": {
                "type": "string",
                "example": "This is my Buddy!"
              },
              "creation_date": {
                "type": "string",
                "format": "date",
                "example": "2018-11-08T16:53:33.000Z"
              },
              "user": {
                "$ref": "#/definitions/UserShort"
              }
            }
          }
        },
        "newposts": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 3
              },
              "intention": {
                "type": "string",
                "example": "Lorem ipsum dolor sit amet, qui ornatus qualisque ad. Te habemus honestatis mea. Eos at pertinax"
              },
              "link": {
                "type": "string",
                "example": "http://www.mypage.com"
              },
              "type": {
                "type": "integer",
                "example": "1"
              },
              "creation_date": {
                "type": "string",
                "format": "date",
                "example": "2018-11-08T16:53:33.000Z"
              },
              "number_of_forwards": {
                "type": "integer",
                "example": "1"
              },
              "forwarded": {
                "type": "boolean",
                "example": true
              },
              "user": {
                "$ref": "#/definitions/UserShort"
              }
            }
          }
        },
        "posts": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 3
              },
              "desired_output": {
                "type": "string",
                "example": "Lorem ipsum dolor sit amet, qui ornatus qualisque ad. Te habemus honestatis mea. Eos at pertinax"
              },
              "link": {
                "type": "string",
                "example": "http://www.mypage.com"
              },
              "type": {
                "type": "integer",
                "example": "1"
              },
              "creation_date": {
                "type": "string",
                "format": "date",
                "example": "2018-11-08T16:53:33.000Z"
              },
              "forwarded": {
                "type": "boolean",
                "example": true
              },
              "user": {
                "$ref": "#/definitions/UserShort"
              }
            }
          }
        }
      }
    },
    "UpdateUserBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "Max Mustermann"
        },
        "email": {
          "type": "string",
          "example": "max.mustermann@email.com"
        },
        "image_url": {
          "type": "string",
          "example": "http://www.google.de/favicon.ico"
        },
        "image": {
          "type": "string",
          "example": "data:image/gif;base64,R0lGODlhEAAQANUAAP8A/8mDIKWlpf/tyP/rwf/fov/jrf/ms//y1f/enf/02//wz//ouv/hp//24P/45f78+f/56P38+fj4+Nvb2/39/fHu6fj38+OvXfXz7/b29s2JKfv7++nHkOO8geTk5Pv69/b18f////T09AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAQABAAAAZwQIBQGCgOj8hAJOIJIJ+Bh9T5PAYc2KKWalV4v94OVSAoIs5otFPwgSze8K1RIIIM7vj8YF2REP6AgQRrHCAMh4hyaxMXB46PkAdrGiEGlpeYBmsjGQ2en4oAAhQWBaanqAVjZRsJrq+uGFxDilpCQQA7"
        },
        "city": {
          "type": "string",
          "example": "Buxtehude"
        },
        "company": {
          "type": "string",
          "example": "Winzigweich"
        },
        "position": {
          "type": "string",
          "example": "Evangelist"
        },
        "about": {
          "type": "string",
          "example": "a really cool dude can be found here."
        },
        "education": {
          "type": "string",
          "example": "Hauptschule\nFachschule\nAusbildung"
        },
        "last_seen_post": {
          "type": "integer",
          "example": "2"
        },
        "password": {
          "type": "string",
          "example": "1234asdf"
        }
      }
    },
    "CreatePost": {
      "type": "object",
      "properties": {
        "intention": {
          "type": "string",
          "example": "Lorem ipsum dolor sit amet, qui ornatus qualisque ad. Te habemus honestatis mea."
        },
        "desired_output": {
          "type": "string",
          "example": "Lorem ipsum dolor sit amet, qui ornatus qualisque ad. Te habemus honestatis mea."
        },
        "agenda": {
          "type": "string",
          "example": "Lorem ipsum dolor sit amet, qui ornatus qualisque ad. Te habemus honestatis mea."
        },
        "roles": {
          "type": "string",
          "example": "Lorem ipsum dolor sit amet, qui ornatus qualisque ad. Te habemus honestatis mea."
        },
        "rules": {
          "type": "string",
          "example": "Lorem ipsum dolor sit amet, qui ornatus qualisque ad. Te habemus honestatis mea."
        },
        "timing": {
          "type": "string",
          "example": "Lorem ipsum dolor sit amet, qui ornatus qualisque ad. Te habemus honestatis mea."
        },
        "link": {
          "type": "string",
          "example": "http://www.mypage.com"
        },
        "type": {
          "type": "integer",
          "example": "1"
        }
      }
    },
    "CreatePostResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "message": {
          "type": "string",
          "example": "Successfully created new post."
        }
      }
    },
    "ListPostResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "newposts": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 3
              },
              "intention": {
                "type": "string",
                "example": "Lorem ipsum dolor sit amet, qui ornatus qualisque ad. Te habemus honestatis mea. Eos at pertinax"
              },
              "link": {
                "type": "string",
                "example": "http://www.mypage.com"
              },
              "type": {
                "type": "integer",
                "example": "1"
              },
              "creation_date": {
                "type": "string",
                "format": "date",
                "example": "2018-11-08T16:53:33.000Z"
              },
              "forwarded": {
                "type": "boolean",
                "example": true
              },
              "user": {
                "$ref": "#/definitions/UserShort"
              }
            }
          }
        },
        "posts": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 3
              },
              "desired_output": {
                "type": "string",
                "example": "Lorem ipsum dolor sit amet, qui ornatus qualisque ad. Te habemus honestatis mea. Eos at pertinax"
              },
              "link": {
                "type": "string",
                "example": "http://www.mypage.com"
              },
              "type": {
                "type": "integer",
                "example": "1"
              },
              "creation_date": {
                "type": "string",
                "format": "date",
                "example": "2018-11-08T16:53:33.000Z"
              },
              "user": {
                "$ref": "#/definitions/UserShort"
              }
            }
          }
        }
      }
    },
    "CreateForward": {
      "type": "object",
      "properties": {
        "post_id": {
          "type": "integer",
          "example": "3"
        }
      }
    },
    "CreateForwardResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "forward": {
          "$ref": "#/definitions/ForwardObject"
        }
      }
    },
    "ForwardObject": {
      "type": "object",
      "properties": {
        "creation_date": {
          "type": "string",
          "format": "date",
          "example": "2018-11-08T16:53:33.000Z"
        },
        "forwarder_id": {
          "type": "integer",
          "example": "1"
        },
        "number_of_forwards": {
          "type": "integer",
          "example": "3"
        },
        "post_id": {
          "type": "integer",
          "example": "2"
        },
        "previous_id": {
          "type": "integer",
          "example": "6"
        }
      }
    },
    "CreateFriendInvitation": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "example": "max.mustermann@email.com"
        },
        "public_text": {
          "type": "string",
          "example": "I welcome my new Buddy XY"
        },
        "private_text": {
          "type": "string",
          "example": "Hello You!"
        }
      }
    },
    "CreateFriendInvitationById": {
      "type": "object",
      "properties": {
        "friend_id": {
          "type": "integer",
          "example": "3",
          "description": "who i want to befriend"
        },
        "permission_user_id": {
          "type": "integer",
          "example": "1",
          "description": "the user who can approve the invitation"
        },
        "public_text": {
          "type": "string",
          "example": "I welcome my new Buddy XY"
        }
      }
    },
    "InviteFriendResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "message": {
          "type": "string",
          "example": "Successfully created new invitation."
        }
      }
    },
    "ListFriendsResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "friends": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "favorite": {
                "type": "string",
                "format": "date",
                "example": "2019-01-04 11:21:58"
              },
              "creation_date": {
                "type": "string",
                "format": "date",
                "example": "2018-11-08T16:53:33.000Z"
              },
              "user": {
                "$ref": "#/definitions/UserShort"
              }
            }
          }
        }
      }
    },
    "ListInvitationsResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "friends": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "approve": {
                "type": "boolean",
                "example": true
              },
              "creation_date": {
                "type": "string",
                "format": "date",
                "example": "2018-11-08T16:53:33.000Z"
              },
              "friend_id": {
                "type": "integer",
                "example": "1"
              },
              "id": {
                "type": "integer",
                "example": "1"
              },
              "public_text": {
                "type": "string",
                "example": "I welcome my new Buddy XY"
              },
              "user": {
                "$ref": "#/definitions/UserShort"
              }
            }
          }
        }
      }
    },
    "DeleteFriend": {
      "type": "object",
      "properties": {
        "friend_id": {
          "type": "integer",
          "example": "14"
        }
      }
    },
    "UpdateFriend": {
      "type": "object",
      "properties": {
        "top": {
          "type": "integer",
          "example": "1"
        }
      }
    },
    "CreateMessage": {
      "type": "object",
      "properties": {
        "to": {
          "type": "integer",
          "example": "1"
        },
        "message": {
          "type": "string",
          "example": "Hello Friend!"
        }
      }
    },
    "ListMessages": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "messages": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "from": {
                "type": "integer",
                "example": "1"
              },
              "text": {
                "type": "string",
                "example": "Greetings"
              },
              "date": {
                "type": "string",
                "format": "date",
                "example": "2018-11-08T16:53:33.000Z"
              }
            }
          }
        }
      }
    },
    "ApiErrorResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": false
        },
        "error": {
          "type": "string"
        }
      }
    },
    "ApiSuccessResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "message": {
          "type": "string"
        }
      }
    },
    "ApiUnauthorizezdResponse": {
      "type": "string",
      "example": "Unauthorized"
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Nurogames",
    "url": "http://nurogames.com"
  }
}